/* Center everything */
body {
  background-color: #1e1b1b;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Switch (Container for Flip) */
.card-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
}

/* Hidden checkbox (acts as a switch) */
.toggle {
  display: none;
}

/* Flip Card */
.flip-card__inner {
  width: 320px;
  height: 350px;
  position: relative;
  perspective: 1000px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Apply rotation when checkbox is checked */
.toggle:checked + .flip-card__inner {
  transform: rotateY(180deg);
}

/* Front & Back styles */
.flip-card__front, .flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #2b2929;
  gap: 15px;
  border-radius: 5px;
  border: 2px solid #a83c3c;
  box-shadow: 4px 4px #a83c3c;
  width: 100%;
  height: 100%;
}

.flip-card__back {
  transform: rotateY(180deg);
}

/* Log in and sign up labels */
.card-side::before {
  position: absolute;
  content: 'Log in';
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  text-decoration: underline;
  color: #fff;
  font-weight: 600;
}

.card-side::after {
  position: absolute;
  content: 'Sign up';
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

/* Inputs */
.flip-card__input {
  width: 260px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #a83c3c;
  background-color: #1e1b1b;
  box-shadow: 4px 4px #a83c3c;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 5px 10px;
  outline: none;
  text-align: center;
}

/* Adjust buttons */
.flip-card__btn {
  margin: 10px 0;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #a83c3c;
  background-color: #1e1b1b;
  box-shadow: 4px 4px #a83c3c;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

/* Tap-to-sign-in label */
.tap-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-size: 14px;
  opacity: 0.7;
}
