
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
}

h2, h3 {
    color: #ffffff;
}

#foodSearch {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
    background-color: #1e1e1e;
    color: #ffffff;
}

#searchResults {
    border: 1px solid #333;
    max-width: 100%;
    display: none;
    position: absolute;
    background: #1e1e1e;
    z-index: 1000;
    width: calc(100% - 40px);
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow-y: auto;
    max-height: 250px;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
}

.result-item {
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    transition: background 0.2s ease-in-out;
    font-size: 14px;
    color: #ffffff;
}

.result-item:hover {
    background-color: #333;
}

button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #b71c1c;
}

#foodList, #totalMacros {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
}
